body {
  background-color: #282828;
}

#middle {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 20%;
  text-align: center;
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 30pt;
}

button {
  background-color: #282828;
  border: none;
  color: white;
  margin-top: 8px;
  width: 100%;
  height: 23px;
}

p {
  font-family: monospace;
  font-size: 7pt;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: #828282;
  font-family: monospace;
  font-size: 7pt;
  padding: 0px;
}

@media only screen and (max-device-width: 800px) {

  #middle {
    width: 80%;
    height: 80%;
    font-size: 80pt;
  }

  p {
    font-size: 24pt;
  }

  a {
    font-size: 24pt;
  }

  button {
    height: 100px;
    font-size: 24pt;
  }

  .StripeElement {
    font-size: 80pt;
  }
}
